---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{% if collections.allContent.length %}{{ collections.allContent[0].date | dateIso }}{% else %}{{ page.date | dateIso }}{% endif %}</updated>
  <id>{{ site.url }}/</id>
  <author><name>{{ site.author.name }}</name><email>{{ site.author.email }}</email></author>
  {% for item in collections.allContent %}
    <entry>
      <title>{{ item.data.title }}</title>
      <link href="{{ item.url | absoluteUrl(site.url) }}"/>
      <updated>{{ item.date | dateIso }}</updated>
      <id>{{ item.url | absoluteUrl(site.url) }}</id>
      <summary>{{ item.data.excerpt or (item.templateContent | stripHtml) }}</summary>
      <content type="html"><![CDATA[{{ item.templateContent | htmlToAbsoluteUrls(site.url) }}]]></content>
    </entry>
  {% endfor %}
</feed>
