---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}/</link>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
    <description>{{ site.description }}</description>
    <language>{{ site.language }}</language>
    <lastBuildDate>{% if collections.allContent.length %}{{ collections.allContent[0].date | dateToRfc822 }}{% else %}{{ page.date | dateToRfc822 }}{% endif %}</lastBuildDate>
    {% for item in collections.allContent %}
      {% set absolutePostUrl = item.url | absoluteUrl(site.url) %}
      {% set summary = item.data.excerpt or (item.templateContent | stripHtml) %}
      <item>
        <title>{{ item.data.title }}</title>
        <link>{{ absolutePostUrl }}</link>
        <guid>{{ absolutePostUrl }}</guid>
        <pubDate>{{ item.date | dateToRfc822 }}</pubDate>
        <dc:creator>{{ site.author.name }}</dc:creator>
        <description>{{ summary | escape }}</description>
        <content:encoded><![CDATA[{{ item.templateContent | rssSafeContent | htmlToAbsoluteUrls(site.url) | safe }}]]></content:encoded>
      </item>
    {% endfor %}
  </channel>
</rss>
