<article class="dense-row">
  <time datetime="{{ item.data.date | dateIso }}">{{ item.data.date | dateYmd }}</time>
  <a class="dense-title" href="{{ item.url }}">{{ item.data.title }}</a>
</article>
